<!doctype html>
<html ng-app="404RouteMap">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://openlayers.org/en/v3.1.1/css/ol.css" type="text/css">
    <link rel="stylesheet" hret="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="js/angular-openlayers-directive-master/dist/angular-openlayers-directive.css" type="text/css"/>
	 <link rel="stylesheet" href="all.css" type="text/css">
	 
	 
<!--	 <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.0/jasmine_favicon.png">
	 <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.0/jasmine.css"> 

	 <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
	 <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine-html.js"></script>
	 <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/boot.js"></script>-->
		    
    <script src="http://openlayers.org/en/v3.1.1/build/ol.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js"></script>
    <script src="js/angular-openlayers-directive-master/dist/angular-openlayers-directive.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js" ></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="map.js" type="text/javascript"></script>

    <title>404s Ride Map</title>
  </head>
  <body ng-controller="GeoJSONController">
  
  		<openlayers ol-center="defaultCenter" ol-defaults="defaults" custom-layers="true" ol-controls="controls" height="100%" width="100%">
  			<ol-layer ol-layer-properties="layer" ng-repeat="layer in layers|filter:{active:true}"></ol-layer>
  			<ol-marker ol-marker-properties="nTableMtn" ></ol-marker>
  			<ol-marker ol-marker-properties="apex" ></ol-marker>
  			<ol-marker ol-marker-properties="mtFalcon" ></ol-marker>
  			<ol-marker ol-marker-properties="greenMtWest" ></ol-marker>
  		</openlayers>

  		<div id="fixed-hover-window">
  			<p id="fixed-hover-window-text">Route Name: {{ mouseMoveRoute }}</p>
  		</div>
		<div id="layer-switcher-container">
	        <ul>
	            <li style="display: inline" ng-repeat="layer in layers|filter:{name:'!osm'}">
	                <button ng-click="changeLayer(layer)" class="btn btn-default" ng-bind="layer.label"></button>
	            </li>
	        </ul>
	        <ul>				
					<li id="group-rides-icon-easy" class="legend-icon"><p>Easy</p></li>   
					<li id="group-rides-icon-moderate" class="legend-icon"><p>Moderate</p></li>
					<li id="group-rides-icon-hard" class="legend-icon"><p>Hard</p></li>   
					<li id="routes-icon" class="legend-icon"><p>MTB Routes</p></li> 
	        </ul>
       </div>
  </body>
</html>